@import '../mixins';

.settings-wrapper {
  .setting-field {
    margin-bottom: 1em;
  }

  .button-wrapper {
    margin-top: 1em;
    position: relative;

    .progress {
      position: absolute;
    }
  }
}
