.token-wrapper {
  display: flex;
  align-items: baseline;
}

.token-input {
  width: 450px;
}

.enter-button-wrapper {
  position: relative;
  margin-left: 6px;
}

.enter-button-wrapper .progress {
  position: absolute;
}